.Navbar {
  // top nav
  .nav-header {
    background-color: #eeeeee;
    text-transform: uppercase;
    font-size: 11px;
    color: black;
    p {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  // main navbar
  .navbar {
    background-color: white !important;
    padding-top: 20px;
    padding-bottom: 20px;

    .navbar-brand {
      img {
        width: 50%;
        padding-bottom: 8px;
      }
    }
    .nav-item {
      .nav-link {
        color: black;
        font-weight: 500;
      }
    }
    .left-list {
      .nav-item {
        padding-right: 40px;
      }
    }
    .right-list {
      .nav-item {
        padding-left: 2px;
      }
    }
    .navbar-toggler {
      border: 0;
      &:focus {
        box-shadow: none;
      }
    }
    // hide bootstrap default dropdown icon
    .dropdown-toggle::after {
      display: none;
    }

    .input-group {
      color: black;
      border-bottom: 1px solid black;
      button {
        all: unset;
        cursor: pointer;
      }
      input {
        color: black;
        border: 0;
        border-radius: 0;
        height: 24px;
        font-weight: 500;
        font-size: 14px;
        padding-left: 0;
        &:focus {
          box-shadow: none;
        }
        &::placeholder {
          color: black;
          font-weight: 500;
          font-size: 14px;
        }
      }
      span {
        border: 0;
        border-radius: 0;
        background-color: white;
        height: 24px;
        padding-right: 0;
      }
    }
  }
}
